/* EDITED by N-J-Martin*/

body {
    margin: 0;
    max-width: 100vw;
    font-family: system-ui;
    background-color: #B3B3B3;
}

pre, code {
    overflow: auto;
}

button{
    font-family: system-ui;
    background-color: #DEDEDE;
    cursor: pointer;
    padding:4px;
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-right: 4px;
}

button:hover{
    background-color: #4D4D4D; color: white;
}

h3{
    overflow: hidden;
    text-align: center;
}

iframe {
    width: 400px;
    height: 210px;
}

dialog{
    flex: auto;
    width: 75%;
    overflow-wrap: anywhere;
    resize: both;

}


#pageContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
}

#blocklyDivOut {
    /*resize: horizontal;*/
    flex-basis: auto;
    height: 100%;
    width: 100%;
    /*position: absolute;*/
    overflow-y: hidden;

}

#blocklyDiv2Out {
    /*resize: horizontal;*/
    flex: auto;
    height: 100%;
    width: 100%;
    /*position: absolute;*/
    overflow-y: hidden;
}

#dataInputDivOut {
    /*resize: horizontal;*/
    flex: auto;
    height: 100%;
    width: 100%; 
    /*position: absolute;*/  
    overflow-y: hidden; 
}


#blocklyDiv {
    /*resize: horizontal;*/
    flex-basis: auto;
    height: 90%;
    width: 100%;
    /*position: absolute;*/
    overflow-y: hidden;

}

#blocklyDiv2 {
    /*resize: horizontal;*/
    flex: auto;
    height: 90%;
    width: 100%;
    /*position: absolute;*/
    overflow-y: hidden;
}

#dataInputDiv{
    /*resize: horizontal;*/
    flex: auto;
    height: 90%;
    width: 100%; 
    /*position: absolute;*/  
    overflow-y: hidden; 
}

#outputPane {
    /*resize: horizontal;*/
    flex: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*flex: 0 0 400px;*/
    overflow: auto;
    margin: 1rem;
}

#generatedCode {
    height: 50%;
    background-color: rgb(247, 240, 228);
}

#output {
    height: 50%;
    display: grid;
    /*grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr;*/
}

.split {
    height: 300px;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.split > div {
    float: left;
    height: 100%;
}

.gutter {
    background-color: #919191;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
     float: left;
    height: 100%;

}

#frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}