/* EDITED by N-J-Martin and Jamie Melton */

body {
    max-width: 100vw;
    font-family: system-ui;
    background-color: #684A82;
    color: #DEDEDE;
}

pre, code {
    overflow: auto;
}

/* From Uiverse.io by cssbuttons-io */
button {
    background-color: #DD9871;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 4px;
    outline: none;
    overflow: visible;
    padding: 5px 10px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

button:after {
    background-clip: padding-box;
    background-color: #E7D292;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

button:hover:not(:disabled) {
    filter: brightness(1.1);
}

button:disabled {
    cursor: auto;
}

button:active:after {
    border-width: 0 0 0;
}

button:active {
    padding-bottom: 10px;
}

h3{
    overflow: hidden;
    text-align: center;
    font-size:  20px;
    margin:  10px;
    padding:  10px;
}

iframe {
    width: 400px;
    height: 210px;
    border-radius: 16px;
    /*box-shadow: -5px 5px rgba(104, 74, 130, 0.5);*/
    border: solid 3px rgba(0, 0, 0, .5);
}

dialog{
    border-radius: 16px;
    box-shadow: -5px 5px #beb8b8;
    flex: auto;
    width: 75%;
    overflow-wrap: anywhere;
    resize: both;
    border: none;
}

dialog h4 {
    width: 100%;
    text-align: center;
    background-color: #DEDEDE;
    box-shadow: -5px 5px #beb8b8;
    border-radius: 16px;
    padding: 3px;
}

dialog h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 20px;
    color: #684A82;
}

dialog a, dialog b {
    color: #684A82;
    font-weight: 900;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4); /* darkens background */
    backdrop-filter: blur(1px);
}

#help {
    width: 4rem;
    margin: 0;
}

#pageContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
}

#outputPane {
    /*resize: horizontal;*/
    flex: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*flex: 0 0 400px;*/
    overflow: auto;
    margin: 1rem;
}

#generatedCode {
    height: 50%;
    background-color: #DEDEDE;
    padding: .5rem;
    color: black;
    font-size: large;
    border-radius: 16px;
    box-shadow: -5px 5px #beb8b8;
    margin: .5rem;
}

#output {
    height: 50%;
    display: grid;
    /*grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 1fr;*/
}

.blocklyDivOut {
    color: black;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    /*resize: horizontal;*/
    flex-basis: auto;
    height: 100%;
    width: 100%;
    /*position: absolute;*/
    overflow-y: hidden;
    background-color: #dddddd;
}

.toolTip {
    color: white;
    text-align: center;
    max-width: 50%;
    border-radius: 16px;
    padding: 15px;
    font-size: 13px;
}

.toolTip h1, .toolTip h2 {
    font-size: 17px;
}

.toolTip li {
    text-align: left;
}

.toolTip a, .toolTip a:visited {
    color: white;
    font-weight: 900;
}

.toolTip img {
    border: solid 1px #313131;
    height: 60px;
    border-radius: 10px;
}

.blocklyDiv {
    /*resize: horizontal;*/
    flex-basis: auto;
    height: 90%;
    width: 100%;
    /*position: absolute;*/
    overflow-y: hidden;
}

.split {
    height: 300px;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.split > div {
    float: left;
    height: 100%;
}

.gutter {
    background-color: #919191;
    width: 2px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
    float: left;
    height: 100%;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#frame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}